<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033653388765-tds7229okcbbrt00bv966j0v5n4t1d0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033653388765-tds7229okcbbrt00bv966j0v5n4t1d0f</string>
	<key>API_KEY</key>
	<string>AIzaSyBgQWu9akb0uWO1N4rfWe2M2dNxmCZhLUw</string>
	<key>GCM_SENDER_ID</key>
	<string>1033653388765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capstone</string>
	<key>PROJECT_ID</key>
	<string>ecofamid-122</string>
	<key>STORAGE_BUCKET</key>
	<string>ecofamid-122.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033653388765:ios:906a97a9fdda56380c2234</string>
</dict>
</plist>